nav {
    /* border: .1rem solid orangered; */
    width: 15rem;
    background-color: #eee;
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

li {
    margin-bottom: 1rem;
}

.opcao {
    display: flex;
    border-radius: .5rem;
    padding: .6rem;
    background-color: antiquewhite;

}