footer {
    /* border: .1rem solid green; */
    height: 2rem;
    background-color: #252523;
    color: #eee;
    display: flex;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    padding: .5rem;
}